/*
Site crÃ©Ã© par :

      ___           ___           ___                    ___           ___           ___      
     /\  \         /\__\         /\  \                  /\  \         /\  \         /|  |     
     \:\  \       /:/ _/_       _\:\  \                |::\  \       /::\  \       |:|  |     
      \:\  \     /:/ /\__\     /\ \:\  \               |:|:\  \     /:/\:\  \      |:|  |     
  _____\:\  \   /:/ /:/ _/_   _\:\ \:\  \            __|:|\:\  \   /:/ /::\  \   __|:|__|     
 /::::::::\__\ /:/_/:/ /\__\ /\ \:\ \:\__\          /::::|_\:\__\ /:/_/:/\:\__\ /::::\__\_____
 \:\~~\~~\/__/ \:\/:/ /:/  / \:\ \:\/:/  /          \:\~~\  \/__/ \:\/:/  \/__/ ~~~~\::::/___/
  \:\  \        \::/_/:/  /   \:\ \::/  /            \:\  \        \::/__/          |:|~~|    
   \:\  \        \:\/:/  /     \:\/:/  /              \:\  \        \:\  \          |:|  |    
    \:\__\        \::/  /       \::/  /                \:\__\        \:\__\         |:|__|    
     \/__/         \/__/         \/__/                  \/__/         \/__/         |/__/     
*/









/* CSS ANIMATIONS */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 100; }
}

@keyframes fadefont {
    from { font-size: 48px;}
    to   { font-size: 48px; }
}

@keyframes fadecolor {
    from { color: white; }
    to   { color: palevioletred }
}

/* CSS BALISES HTML */
  
html, body {
    background: url(../Images/2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
  
.main_img {



                        /*POSITITION CSS*/
    margin: 0;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    left: 0;



                        /*TEXTE CSS*/
    color: white;
    -webkit-transition: 2s fadecolor;
    transition: 2s fadecolor;
    text-align: center;
}


img.header_logo {



                        /*POSITITION CSS*/
    width: 10%;
    height: 10%;



                        /*BORDURE CSS*/
    border-radius: 15px;
}

div.header_bck_div {



                        /*POSITITION CSS*/
    width: 75%;
    height: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 50px;
    padding-bottom: 50px;




                        /*BACKGROUND CSS*/
    background-color: rgb(44,44,44, 0.6);
    animation: 3s fadein;
}

.header_txt {



                        /*TEXTE CSS*/
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 4em;
}

.header_p {




                        /*TEXTE CSS*/
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5em;
}


/* CSS OUTILS PRATIQUES */

.background_transparent {
    opacity: 100%;
}

.space {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* CSS ICONES */


.fa {
  padding: 20px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: #d96e26;
  fill: #d96e26;
  animation: 0.1s fadefont;
}

.fa:hover {
  opacity: 0.7;
  background: hsl(12, 70, 50)
}